{% extends "_layouts/base.html" %}
{% block base_head %}
{% block head %}{% endblock %}
{% endblock %}
{% block base_body %}
<div class="relative bodyContainer h-full flex flex-col overflow-hidden">
  <header class="flex-none flex justify-between p-2 md:px-3 border-b shadow border-zinc-900">
    <div class="ml-2 flex items-center gap-2">
      <a href="/">
        <img src="/static/img/Logo.png" alt="Hope Trade Logo" class='w-10 h-10' />
      </a>
      <a href="/" class="hidden md:inline-block underline-offset-2 hover:underline">
        <span class="text-xl font-medium">Hope Trade</span>
      </a>
    </div>
    <nav class="flex md:mr-2">
      <ul class="flex gap-x-2 md:gap-x-4 text-xl font-medium items-center">
        <li>
          {% if session.logged_in %}
            <a href="{{ url_for('root.logout') }}" class="px-3 py-1.5 text-lg text-zinc-100 bg-red-600 rounded hover:bg-red-700">
              Cerrar Sesión
            </a>
          {% else %}
            <a href="{{ url_for('root.login') }}" id="openMainMenu" class="px-3 py-1.5 text-lg text-zinc-100 bg-green-shade rounded hover:bg-green-600">
              Iniciar Sesión
            </a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </header>

  <div class="flex-1 flex flex-col overflow-x-hidden">
    {% block content %}Content placeholder{% endblock %}
  </div>
</div>
{% block body %}{% endblock %}
{% endblock %}
