{% extends "_layouts/app.html" %}
{% block head %}
    <title>Editar perfil</title>
{% endblock %}
{% block content %}
    <div class="flex flex-col items-center justify-center mt-10">
        <!-- <h1 class="mb-6 text-4xl font-semibold text-gray-900 text-green-shade">Editar Perfil</h1> -->
        <h1 class=" text-center mb-4 text-3xl font-extrabold md:text-4xl lg:text-5xl text-green-shade">
            Editar perfil
        </h1>   
        <form method="POST" action="{{ url_for('editarPerfil.editar_perfil', usuario_id=user.id) }}" class="max-w-lg mx-auto">
            {{ form.hidden_tag() }}
            <div class="mb-4">
                <label for="password_actual" class="block text-gray-700 font-bold mb-2">Contraseña Actual:</label>
                <!-- {{ form.password_actual(id="password_actual", class="form-input mt-1 block w-full") }} -->
                {{ form.password_actual(id="password_actual", class="rounded w-full border border-gray-300 text-gray-900 focus:outline-none focus:ring-cyan-shade focus:border-cyan-shade focus:z-10 sm:text-lg")}}
            </div>
            <div class="mb-4">
                <label for="nueva_password" class="block text-gray-700 font-bold mb-2">Nueva Contraseña:</label>
                {{ form.nueva_password(id="nueva_password", class="rounded w-full border border-gray-300 text-gray-900 focus:outline-none focus:ring-cyan-shade focus:border-cyan-shade focus:z-10 sm:text-lg") }}
            </div>
            <div class="mb-6 flex justify-center gap-4">
                {{ form.submit(class="bg-cyan-shade hover:bg-green-cyan-shade text-white font-bold py-2 px-4 rounded transition duration-300 ") }}
                <a href="{{ url_for('root.perfil', usuario_id=user.id) }}" class="bg-cyan-shade hover:bg-green-cyan-shade text-white font-bold py-2 px-4 rounded transition duration-300">Cancelar</a>
            </div>       
        </form>
    </div>
{% endblock %}