{% extends "_layouts/app.html" %}     
{% block head %}
    <title>{{ user.nombre }} {{ user.apellido }}</title>
{% endblock %}
{% block content %}
<div class="container  text-center">
    <h1 class="text-3xl mb-4">
        {{ user.nombre }} {{ user.apellido }}
    </h1>
    
    <p class="text-xl mb-2">
        {{ user.email }}
    </p>
    
    <p class="text-xl mb-2">
        {{ user.dni }}
    </p>
    
    <p class="text-xl mb-2">
        {{ user.telefono }}
    </p>

    <p class="text-xl mb-2">
        {{ user.fecha_nacimiento }}
    </p>    
</div>
{% endblock %}
