{% extends "_layouts/app.html" %} {% import "_macros/oferta.html" as Oferta %} {% block head %}
<title>Historial de Intercambios</title>
{% endblock %} 
{% block content %}
    <main class="flex flex-col items-center min-h-screen">
        <section class="w-full max-w-4xl px-4 py-12 text-center">
            <div class="flex items-center justify-center">
                <h1 class="mb-4 text-3xl font-extrabold text-center md:text-4xl lg:text-5xl text-green-shade">
                    Historial de Intercambios
                </h1>
            </div>             
            {% if mensaje %}
                <div>
                    <p class="mb-4 text-2xl font-extrabold text-green-shade">{{ mensaje }}</p>
                </div>
            {% else %}
                {% for intercambio in intercambios %}                      
                    <div class="mt-10">
                        {{ Oferta.OfertaDetalle(        
                            intercambio.oferta_id,
                            intercambio.ofrecido, intercambio.solicitado, 
                            intercambio.fechaIntercambio, intercambio.horaIntercambio, 
                            intercambio.filial, intercambio.estado,intercambio.descripcion,intercambio.ofrecido_email,intercambio.solicitado_email) }} 
                    </div>                    
                {% endfor %} 
            {% endif %}
    </main>
{% endblock %}