{% extends "_layouts/app.html" %}{% import "_macros/oferta.html" as Oferta %}
{% block head %}
    <title>Intercambios Pendientes</title>
{% endblock %}
{% block content %}
<main class="flex flex-col px-4 py-12 text-center bg-very-light-yellow-green sm:px-6 lg:px-8">
    <h1 class="mb-4 text-3xl font-extrabold text-center md:text-4xl lg:text-5xl text-green-shade">
        Intercambios Pendientes del Dia
    </h1>
    <section>
        {% if ofertas %}        
                <ul>
                    {% for oferta in ofertas %}                               
                        <div class="items-center justify-center text-center shadow-lg">         
                            {{ Oferta.OfertaDetalle(
                                oferta.publicacion_ofrecido, oferta.publicacion_solicitado, 
                                oferta.fechaIntercambio, oferta.horaIntercambio,                                
                                oferta.filial_relacion.nombre, width=200)}}                     
                           <div>
                                <button                            
                                class="px-6 py-2 my-4 text-white transition duration-300 rounded bg-cyan-shade hover:bg-green-cyan-shade"
                                >
                                Confirmar
                                </button>
                                <button                            
                                class="px-6 py-2 my-4 text-white transition duration-300 rounded bg-cyan-shade hover:bg-green-cyan-shade"
                                >
                                Cancelar
                                </button>
                           </div>
                        </div>                    
                    {% endfor %}                               
                </ul>                
        {% else %}    
            <p class="mb-4 text-2xl font-extrabold text-green-shade">No hay intercambios pendientes para el día de hoy.</p>
        {% endif%}
    </section>    
</main>
{% endblock %}
