{% extends "_layouts/app.html" %} {% import "_macros/publicacion.html" as
Publicacion %} {% block head %}
<title>Publicaciones</title>
{% endblock %} {% block content %}
<main class="max-w-6xl px-4 mx-auto my-12 text-center sm:px-6 lg:px-8">
  <h1
    class="mb-4 text-3xl font-extrabold md:text-4xl lg:text-5xl text-green-shade"
  >
    Publicaciones
  </h1>
  {% if mensaje %}
  <div>
    <p class="mb-4 text-2xl font-extrabold text-green-shade">{{ mensaje }}</p>
  </div>
  {% else %}
  <div class="grid gap-6 mt-6 md:grid-cols-2 lg:grid-cols-3">
    {% for publicacion in publicaciones %} {{
    Publicacion.Publicacion(publicacion.titulo, publicacion.foto_path,
    publicacion.fecha_publicacion, root, publicacion.id) }} {% endfor %}
  </div>
  {% endif %}
</main>
{% endblock %}
