{% extends "_layouts/app.html" %}
{% block head %}
    <title>Registrar Colaborador</title>
{% endblock %}
{% block content %}
<div class="flex flex-col py-12 items-center min-h-screen bg-very-light-yellow-greenpx-4 sm:px-6 lg:px-8">
    <div class="max-w-lg w-full space-y-8">
        <h2 class="text-center text-4xl font-extrabold text-green-shade">Registro de un nuevo usuario Colaborador</h2>        
        <form class="mt-8 space-y-6" action="{{ url_for('registrarColaborador.registrarColaborador') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="rounded-md shadow-sm">
                <div class="mb-2">
                    {{ form.nombre.label(class="sr-only") }}
                    {{ form.nombre(class="rounded relative w-full px-4 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-cyan-shade focus:border-cyan-shade focus:z-10 sm:text-lg", placeholder="Nombre") }}
                    {% for error in form.nombre.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="mb-2">
                    {{ form.apellido.label(class="sr-only") }}
                    {{ form.apellido(class="rounded relative w-full px-4 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-cyan-shade focus:border-cyan-shade focus:z-10 sm:text-lg", placeholder="Apellido") }}
                    {% for error in form.apellido.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="mb-2">
                    {{ form.email.label(class="sr-only") }}
                    {{ form.email(class="rounded relative w-full px-4 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-cyan-shade focus:border-cyan-shade focus:z-10 sm:text-lg", placeholder="Email address") }}
                    {% for error in form.email.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div>
                {{ form.submit(class="group relative w-full flex justify-center py-3 px-4 border border-transparent text-base font-medium rounded-md text-white bg-cyan-shade hover:bg-green-cyan-shade focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-shade transition duration-300 ease-in-out") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
