{% extends "_layouts/app.html" %}
{% block head %}
<title>Historial de Donaciones</title>
{% endblock %}

{% block content %}
<main class="flex flex-col items-center min-h-screen">
    <section class="w-full max-w-4xl px-4 py-12 text-center">
        <div class="flex items-center justify-center">
            <h1 class="mb-4 text-3xl font-extrabold text-center md:text-4xl lg:text-5xl text-green-shade">
                Historial de Donaciones
            </h1>
        </div>
        {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Donación</th>
                    <th>Tipo de Donación</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                {% for donacion in donaciones %}
                    <tr>
                        <td>{{ donacion.email }}</td>
                        <td>{{ donacion.telefono or 'No proporcionado' }}</td>
                        {% if donacion.id_tipo == 1 %} <!-- Producto -->
                            <td>{{ donacion.descripcion }}</td>
                            <td>{{ donacion.categoria.nombre }}</td>
                        {% elif donacion.id_tipo == 2 %} <!-- Efectivo -->
                            <td>{{ donacion.monto }}</td>
                            <td>Efectivo</td>
                        {% elif donacion.id_tipo == 3 %} <!-- Tarjeta -->
                            <td>{{ donacion.monto }} </br> (Nro Comprobante: {{ donacion.descripcion }}) </td>
                            <td>Tarjeta</td>
                        {% endif %}
                        <td>{{ donacion.fecha_donacion.strftime('%Y-%m-%d %H:%M') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </section>
</main>
{% endblock %}
