{% extends "_layouts/app.html" %} {% import "_macros/table.html" as Table %} 
{% block head %}
<title>Historial de Donaciones</title>
{% endblock %}

{% block content %}
<main class="flex flex-col items-center min-h-screen">
    <section class="w-full px-4 py-12 text-center max-w-7xl">
        <div class="overflow-x-auto">
            <h1 class="mb-4 text-3xl font-extrabold text-center md:text-4xl lg:text-5xl text-green-shade">
                Historial de Donaciones
            </h1>
            {% if mensaje %}
                <p>{{ mensaje }}</p>
            {% else %}
                {% call Table.Table() %}
                    {{ Table.TableHeader(("Email", "Apellido", "Nombre", "Teléfono", "Donación", "Tipo de Donación", "Fecha")) }}
                    <tbody>
                        {% for donacion in donaciones %}
                        <tr class="text-black bg-very-light-yellow-green">
                            <td class="py-4 break-words whitespace-normal">{{ donacion.email }}</td>
                            <td class="py-4 break-words whitespace-normal">{{ donacion.apellido }}</td>
                            <td class="py-4 break-words whitespace-normal">{{ donacion.nombre }}</td>
                            <td class="py-4 break-words whitespace-normal">{{ donacion.telefono or 'No proporcionado' }}</td>
                            {% if donacion.id_tipo == 1 %} <!-- Producto -->
                                <td class="py-4 break-words whitespace-normal">{{ donacion.descripcion }}</td>
                                <td class="py-4 break-words whitespace-normal">{{ donacion.categoria.nombre }}</td>
                            {% elif donacion.id_tipo == 2 %} <!-- Efectivo -->
                                <td class="py-4 break-words whitespace-normal"> $ {{ donacion.monto }}</td>
                                <td class="py-4 break-words whitespace-normal">Efectivo</td>
                            {% elif donacion.id_tipo == 3 %} <!-- Tarjeta -->
                                <td class="py-4 break-words whitespace-normal"> $ {{ donacion.monto }} </br> (Nro Comprobante: {{ donacion.descripcion }}) </td>
                                <td class="py-4 break-words whitespace-normal">Tarjeta</td>
                            {% endif %}
                                <td>{{ donacion.fecha_donacion.strftime('%Y-%m-%d %H:%M') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>        
                {% endcall %}
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}
