{% extends "_layouts/app.html" %} {% import "_macros/table.html" as Table %} 
{% block head %}
<title>Historial de Donaciones</title>
{% endblock %}

{% block content %}
<main class="flex flex-col items-center min-h-screen">
    <section class="w-full max-w-4xl px-4 py-12 text-center">
        <div class="overflow-x-auto">
            
            <h1 class="mb-4 text-3xl font-extrabold text-center md:text-4xl lg:text-5xl text-green-shade">
                Historial de Donaciones
            </h1>
            <div class="flex w-1/2 mb-4 space-x-4 ">
                <!--  -->
                <select id="donationFilter" class="rounded">
                    <option value="" selected >Todos</option>
                    <option value="Producto">Producto</option>
                    <option value="Efectivo">Efectivo</option>
                    <option value="Tarjeta">Tarjeta</option>
                </select>                                               
            </div>
            
            <div class="flex flex-row">
                <div class="flex mb-4">
                    <input type="date" required="required" id="initialDateFilter" type="text" placeholder="Fecha inicial" class="px-3 py-2 border border-gray-300 rounded-md">    
                </div>   
                <div class="flex px-4 mb-4 ">
                    <input type="date" required="required" id="endDateFilter" type="text" placeholder="Fecha final" class="px-3 py-2 border border-gray-300 rounded-md">
                </div>      
                <div class="flex mb-4">
                    <button type="button" id="dateFilterButton" class="px-4 py-2 text-base font-medium text-white transition duration-300 ease-in-out border border-transparent rounded-md group bg-cyan-shade hover:bg-green-cyan-shade focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-shade">Filtrar por Fecha</button>
                </div>
            </div>
            <div id="errMessage" class="hidden mb-4 text-2xl font-extrabold text-red-700">Error</div>
            {% if mensaje %}
                <div>
                    <p class="mb-4 text-2xl font-extrabold text-green-shade">{{ mensaje }}</p>
                </div>
            {% else %}
                {% call Table.Table() %}
                    {{ Table.TableHeader(("Email", "Teléfono", "Donación", "Tipo de Donación", "Fecha")) }}
                    <tbody>
                        {% for donacion in donaciones %}
                        <tr class="text-black bg-very-light-yellow-green">
                            <td class="py-4 break-words whitespace-normal">{{ donacion.email }}</td>
                            <td class="py-4 break-words whitespace-normal">{{ donacion.telefono or 'No proporcionado' }}</td>
                            {% if donacion.id_tipo == 1 %} <!-- Producto -->
                                <td class="py-4 break-words whitespace-normal">{{ donacion.descripcion }}</td>
                                <td class="py-4 break-words whitespace-normal">Producto</td>
                            {% elif donacion.id_tipo == 2 %} <!-- Efectivo -->
                                <td class="py-4 break-words whitespace-normal"> $ {{ donacion.monto }}</td>
                                <td class="py-4 break-words whitespace-normal">Efectivo</td>
                            {% elif donacion.id_tipo == 3 %} <!-- Tarjeta -->
                                <td class="py-4 break-words whitespace-normal"> $ {{ donacion.monto }} </br> (Nro Comprobante: {{ donacion.descripcion }}) </td>
                                <td class="py-4 break-words whitespace-normal">Tarjeta</td>
                            {% endif %}
                                <td>{{ donacion.fecha_donacion.strftime('%Y-%m-%d %H:%M') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>        
                {% endcall %}
            {% endif %}
        </div>
    </section>
    <div id="noMatchMessage" class="hidden mb-4 text-2xl font-extrabold text-green-shade">No existen coincidencias</div>
</main>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const donationFilter = document.getElementById('donationFilter');
        const initialDateFilter = document.getElementById('initialDateFilter');
        const endDateFilter = document.getElementById('endDateFilter');
        const dateFilterButton = document.getElementById('dateFilterButton');
        const tableRows = Array.from(document.querySelectorAll('tbody tr'));
        const noMatchMessage = document.getElementById('noMatchMessage');
        const errMessage = document.getElementById('errMessage');
    
        const applyFilters = () => {
            const filterValue = donationFilter.value.toLowerCase();
            const initialDate = initialDateFilter.value;
            const endDate = endDateFilter.value;
            const actDate = new Date().toLocaleDateString('en-CA');
            let matchCount = 0;

            tableRows.forEach((row) => {
                const donationCell = row.querySelector('td:nth-child(4)');
                const donation = donationCell.textContent.toLowerCase();
                const dateCell = row.querySelector('td:nth-child(5)');
                const date = dateCell.textContent.substring(0, 10); // Get only the date and not the hours.

                const donationMatch = donation.startsWith(filterValue) || filterValue === '';
                const dateMatch = (initialDate === '' || endDate === '' || (date >= initialDate && date <= endDate));

                if (donationMatch && dateMatch) {
                    row.classList.remove('hidden');
                    matchCount++;
                } else {
                    row.classList.add('hidden');
                }
            });

            if (matchCount === 0) {
                noMatchMessage.classList.remove('hidden');
            } else {
                noMatchMessage.classList.add('hidden');
            }
        };

        donationFilter.addEventListener('input', (event) => {
            applyFilters();
        },
        );

        dateFilterButton.addEventListener('click', (event) => {
            const initialDate = initialDateFilter.value;
            const endDate = endDateFilter.value;
            const actDate = new Date().toLocaleDateString('en-CA');
            
            let matchCount = 0;
            if (initialDate === '' || endDate === ''){
                tableRows.forEach(row => row.classList.remove('hidden'));
                noMatchMessage.classList.add('hidden');
                
                errMessage.classList.remove('hidden');
                errMessage.textContent = 'Debe ingresar ambas fechas para filtrar.';
            }
            else if (initialDate > endDate){
                errMessage.classList.remove('hidden');
                errMessage.textContent = 'La fecha inicial no puede ser mayor a la fecha final.';
            }
            else if ((actDate < initialDate) || (actDate < endDate)){
                errMessage.classList.remove('hidden');
                errMessage.textContent = 'La fecha no puede ser futura al presente.';
            }
            else{
                tableRows.forEach((row) => {
                    const dateCell = row.querySelector('td:nth-child(5)');
                    const date = dateCell.textContent.substring(0, 10); //Get only the date and not the hours.
    
                    if (date >= initialDate && date <= endDate) {
                        row.classList.remove('hidden');
                        matchCount++;
                    } else {
                        row.classList.add('hidden');
                    }
                });
                if (matchCount === 0) {
                    noMatchMessage.classList.remove('hidden');
                    errMessage.classList.add('hidden');
                } else {
                    errMessage.classList.add('hidden');
                    applyFilters();
                }
            }
        }
        );

    });
    
  </script>
{% endblock %}
