{% extends "_layouts/app.html" %} {% import "_macros/table.html" as Table %} {% block head %}
<title>Generales</title>
{% endblock %} {% block content %}
<main class="flex flex-col items-center min-h-screen">
  <section class="w-full max-w-4xl px-4 py-12 text-center">                  
    <div class="flex items-center justify-center">
        <h1 class="mb-4 text-3xl font-extrabold text-center md:text-4xl lg:text-5xl text-green-shade">
            Usuarios Generales
        </h1>
    </div>         
    <div class="flex w-1/2 mb-4 space-x-4">
      <input id="emailFilter" type="text" placeholder="Filtrar por email" class="px-3 py-2 border border-gray-300 rounded-md">    
    </div>
    {% if mensaje %}
    <div>
      <p class="mb-4 text-2xl font-extrabold text-green-shade">{{ mensaje }}</p>
    </div>
    {% else %}
    <div class="w-full overflow-x-auto">
      {% call Table.Table() %} {{ Table.TableHeader(("Nombre", "Apellido", "Email", "DNI", "Fecha de Nacimiento", "Teléfono")) }}
      <tbody>
        {% for usuario in usuarios %}
        <tr class="text-black bg-very-light-yellow-green">
          <td class="py-4 break-words">{{ usuario.nombre }}</td>
          <td class="py-4 break-words">{{ usuario.apellido }}</td>
          <td class="py-4 break-words">{{ usuario.email }}</td>
          <td class="py-4 break-words">{{ usuario.dni }}</td>
          <td class="py-4 break-words">{{ usuario.fecha_nacimiento.strftime('%Y-%m-%d') }}</td>
          <td class="py-4 break-words">{{ usuario.telefono }}</td>
        </tr>
        {% endfor %}
      </tbody>
      {% endcall %}
    </div>
    {% endif %}
  </section>
  <div id="noMatchMessage" class="hidden mb-4 text-2xl font-extrabold text-green-shade">No existen coincidencias</div>
</main>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const emailFilter = document.getElementById('emailFilter');
    const tableRows = Array.from(document.querySelectorAll('tbody tr'));
    const noMatchMessage = document.getElementById('noMatchMessage');

    emailFilter.addEventListener('input', (event) => {
        const filterValue = event.target.value.toLowerCase();
        let matchCount = 0;
        if (filterValue === ''){
          tableRows.forEach(row => row.classList.remove('hidden'));
          noMatchMessage.classList.add('hidden');
        }else{
          tableRows.forEach((row) => {
              const emailCell = row.querySelector('td:nth-child(3)');
              const email = emailCell.textContent.toLowerCase();

              if (email.startsWith(filterValue)) {
                  row.classList.remove('hidden');
                  matchCount++;
              } else {
                  row.classList.add('hidden');
              }
          });
          if (matchCount === 0) {
              noMatchMessage.classList.remove('hidden');
          } else {
              noMatchMessage.classList.add('hidden');
          }
        }
    }
  );
  });
</script>
{% endblock %}