{% extends "_layouts/app.html" %} {% block head %}
<title>{{publicacion.titulo}}</title>
{% endblock %} {% block content %}
<main class="min-h-screen py-16 bg-gray-100 bg-very-light-yellow-green">
  <div class="px-6 mx-auto overflow-hidden rounded-lg max-w-7xl lg:px-8">
    <div class="lg:flex lg:items-center">
      <div class="lg:flex-shrink-0">
        <img
          src="{{ url_for('static', filename=publicacion.foto_path) }}"
          alt="{{ publicacion.titulo }}"
          class="object-cover w-full h-64 lg:w-96 lg:h-full"
        />
      </div>
      <div class="p-8">
        <div
          class="text-sm font-semibold tracking-wide uppercase text-green-shade"
        >
          Detalle de la Publicación
        </div>
        <div class="flex flex-row">
          <h1
            class="block mt-1 text-2xl font-bold leading-tight text-black hover:underline"
          >
            {{ publicacion.titulo }}
          </h1>
          <div class="pt-2 ml-2">
            {% if publicacion.id_usuario == session.get('user_id') %} {% if
            publicacion.id_visibilidad == 1 %}
            <a
              href="{{ url_for('cambiar_visibilidad.cambiar_visibilidad', publicacion_id=publicacion.id) }}"
              class="px-2 py-2 ml-2 font-bold text-center text-white bg-gray-500 rounded"
            >
              Archivar
            </a>
            {% elif publicacion.id_visibilidad == 2 %}
            <a
              href="{{ url_for('cambiar_visibilidad.cambiar_visibilidad', publicacion_id=publicacion.id) }}"
              class="px-2 py-2 ml-2 font-bold text-center text-white bg-green-500 rounded hover:bg-green-700"
            >
              Publicar
            </a>
            {% endif %} {% endif %}
          </div>
        </div>
        <p class="mt-4 text-lg text-gray-700">{{ publicacion.descripcion }}</p>
        <div class="mt-6">
          <div class="text-gray-500 text-md">
            <b>Categoría:</b>
            {{ publicacion.categoria.nombre }}
          </div>
          <div class="text-gray-500 text-md">
            <b>Publicado el:</b>
            {{ publicacion.fecha_publicacion.strftime('%Y-%m-%d %H:%M') }}
          </div>
          <div class="text-gray-500 text-md">
            <b>Horarios de Preferencia:</b>
            {{ publicacion.filiales_horarios_dias }}
          </div>
        </div>
        {% if publicacion.id_usuario == session.get('user_id') %} 
          {% if publicacion.id_visibilidad != 3%}
          <div class="flex flex-row items-center gap-4 mt-8">
            <a
              href="/editar_publi/{{ publicacion.id }}"
              class="px-4 py-2 font-bold text-center text-white bg-blue-500 rounded hover:bg-blue-700"
            >
              Editar Publicación
            </a>
            <a
              href="{{ url_for('eliminar_publi.eliminar_publi', publicacion_id=publicacion.id) }}"
              class="px-4 py-2 font-bold text-center text-white bg-red-500 rounded hover:bg-red-700"
              onclick="return confirm('¿Estás seguro de que deseas eliminar esta publicación?');"
            >
              Eliminar
            </a>
          </div>
          {% endif %}
        {% endif %}
        <div class="mt-8">
          {% if session.rol_id == 3 %}
            {% if publicacion.id_visibilidad != 3%}
            <a
              href=""
              class="px-4 py-2 font-bold text-center text-white bg-red-500 rounded hover:bg-red-700"
              onclick="return confirm('¿Estás seguro de que deseas eliminar esta publicación?');"
            >
              Eliminar
            </a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
