{% extends "_layouts/app.html" %} {% import "_macros/oferta.html" as Oferta %} 
{% block head %}
<!-- // agregar el nombre de la oferta: ej lavarropas -> cafetera  -->
<title>Detallar oferta</title> 
{% endblock %} {% block content %}
<main class="w-full max-w-6xl px-4 mx-auto my-12 text-center sm:px-6 lg:px-8 bg-very-light-yellow-green">
  <h1 class="w-full mb-4 text-3xl font-extrabold md:text-4xl lg:text-5xl text-green-shade">
    Detalle de la oferta
  </h1>
  <div class="mt-10">    
    {{ Oferta.OfertaDetalle(     
        oferta.id,                    
        ofrecido, solicitado, 
        fechaIntercambio, horaIntercambio, 
        filial,estado,descripcion,ofrecido_email,solicitado_email) }}    
  </div>
</main>
{% endblock %}