{% extends "_layouts/app.html" %} {% import "_macros/oferta.html" as Oferta %} {% block
head %}
<title>Intercambios enviados</title>
{% endblock %} 
{% block content %}
<main class="max-w-6xl px-4 mx-auto my-12 text-center sm:px-6 lg:px-8 bg-very-light-yellow-green">
  <h1 class="mb-4 text-3xl font-extrabold md:text-4xl lg:text-5xl text-green-shade">
    Mis ofertas de intercambios enviadas
  </h1>
  {% if mensaje %}
  <div>
    <p class="mb-4 text-2xl font-extrabold text-green-shade">{{ mensaje }}</p>
  </div>
  {% else %}    
    {% for intercambio in intercambios %}  
    <a href="{{ url_for('root.detallar_oferta', intercambio_id=intercambio.oferta_id) }}">
        <div class="mt-10 shadow">
            {{ Oferta.OfertaOverview(        
                intercambio.ofrecido, intercambio.solicitado, 
                intercambio.fechaIntercambio, intercambio.horaIntercambio, 
                intercambio.filial, intercambio.estado, width=128) }} 
        </div>
      </a>
    {% endfor %} 
  {% endif %}  
</main>
{% endblock %}
