{% extends "_layouts/app.html" %} {% block head %}
<title>Editar perfil</title>
{% endblock %} {% block content %}
<div class="flex flex-col items-center justify-center mt-10">
  <h1 class="mb-4 text-3xl font-extrabold text-center md:text-4xl lg:text-5xl text-green-shade">
    Editar perfil
  </h1>
  <form
    method="POST"
    action="{{ url_for('editar_perfil.editar_perfil', usuario_id=user.id) }}"
    class="max-w-lg mx-auto"
  >
    {{ form.hidden_tag() }}
    <div class="mb-4">
      <label for="password_actual" class="block mb-2 font-bold text-gray-700">
        Contraseña Actual:
      </label>
      {{ form.password_actual(id="password_actual", class="w-full text-gray-900 border
      border-gray-300 rounded focus:outline-none focus:ring-cyan-shade focus:border-cyan-shade
      focus:z-10 sm:text-lg")}}
    </div>
    <div class="mb-4">
      <label for="nueva_password" class="block mb-2 font-bold text-gray-700">
        Nueva Contraseña:
      </label>
      {{ form.nueva_password(id="nueva_password", class="w-full text-gray-900 border border-gray-300
      rounded focus:outline-none focus:ring-cyan-shade focus:border-cyan-shade focus:z-10
      sm:text-lg") }}
    </div>
    <div class="flex justify-center gap-4 mb-6">
      {{ form.submit(class="px-4 py-2 font-bold text-white transition duration-300 rounded
      bg-cyan-shade hover:bg-green-cyan-shade ") }}
    </div>
  </form>
</div>
{% endblock %}
